*.beam
*.bridgesupport
*.ez
*.gem
*.rbc
.bundle/
.config/
.dat*
.fetch/
.repl_history
.rvmrc
.yardoc/
_build/
_yardoc/
build-iPhoneOS/
build-iPhoneSimulator/
build/
cover/
coverage/
deps/
doc/
erl_crash.dump
InstalledFiles/
lib/bundler/man/
pkg/
rdoc/
spec/examples.txt
spec/reports/
test/tmp/
test/version_tmp/
tmp/
vendor/bundle/
